// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: white;
}

.navbar {
    background: whitesmoke;
}

.card-product-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

}



.card-content {
    width: 300px;
    margin-top: 28px;
  
}


.card-img> img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  .card-content h1 {
    font-size: 30px;
    margin-top: 7px;
    font-family: initial;
  }

  .card-flat-info {
    display: flex;
  }

  .card-guest {
    padding-right: 20px;
    font-size: 20px;
  }

  .card-price {
    font-size: 20px;

  }

  .card-body {
      background: #eff6fc;
  }

  .card-footer {
      background: white;
      border-top: none;
  }